<table>
  <thead>
  <tr>
    <td>BV</td>
    <td *ngFor="let x of [].constructor(vars); let i = index">x<sub>{{i}}</sub></td>
    <td class="verical-bar">b</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let row of [].constructor(constraints); let i = index">
    <td>x<sub>{{i}}</sub></td>
    <td *ngFor="let constraintVar of data.constraintVars[i]; let j = index">
      <input [ngModel]="data.constraintVars[i][j]" (change)="onConstraintVarChanged($event, i, j)"/>
    </td>
    <td class="verical-bar">{{data.constraintVals[i]}}</td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td>z</td>
    <td *ngFor="let targetVar of data.targetVars">{{targetVar}}</td>
    <td class="verical-bar">{{data.targetVal}}</td>
  </tr>
  </tfoot>
</table>

