<table *ngIf="data !== undefined">
  <thead>
  <tr>
    <td>BV</td>
    <td *ngFor="let _ of [].constructor(data.numberOfVars); let i = index">x<sub>{{i}}</sub></td>
    <td class="vertical-bar">b</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let _ of [].constructor(data.numberOfConstraints); let i = index">
    <td>x<sub>{{i}}</sub></td>
    <td *ngFor="let _ of [].constructor(data.numberOfVars); let j = index">
      {{data.linearSystemData.constraintVars[i][j]}}
    </td>
    <td class="vertical-bar">{{data.linearSystemData.constraintConstants[i]}}</td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td>z</td>
    <td *ngFor="let targetVar of data.linearSystemData.targetVars">{{targetVar}}</td>
    <td class="vertical-bar">0</td>
  </tr>
  </tfoot>
</table>

