table {
}

thead {
  border-bottom: 1px solid white;
}

tfoot {
  border-top: 1px solid white;
}

.bar-left {
  border-left: 1px solid white;
}

.bar-right {
  border-right: 1px solid white;
}


.space {
  width: 12px;
}

.center {
  text-align: center;
}
