<div class="w-75 mx-auto mt-4">
  <app-card *ngIf="exercise" title="Edit exercise">

    <div class="form-grid">
      <label for="title">Title</label>
      <input id="title" type="text" [(ngModel)]="exercise.title">

      <label for="difficulty">Difficulty</label>
      <div id="difficulty">
        <input id="easy" type="radio"
               [(ngModel)]="exercise.difficulty" value="EASY">
        <label for="easy" class="ml-2">Easy</label>

        <input id="medium" type="radio" class="ml-4"
               [(ngModel)]="exercise.difficulty" value="MEDIUM">
        <label for="medium" class="ml-2">Medium</label>

        <input id="hard" type="radio" class="ml-4"
               [(ngModel)]="exercise.difficulty" value="HARD">
        <label for="hard" class="ml-2">Hard</label>
      </div>

      <label for="task">Task</label>
      <textarea id="task" [(ngModel)]="exercise.task"></textarea>

      <label for="numberOfVars"># Variables</label>
      <input id="numberOfVars" type="number" class="w-25"
             [(ngModel)]="exercise.numberOfVars"/>

      <label for="numberOfConstraints"># Constraints</label>
      <input id="numberOfConstraints" type="number" class="w-25"
             [(ngModel)]="exercise.numberOfConstraints"/>

      <!-- Linear System Data -->
      <label for="linearSystemData">Linear System</label>
      <app-linear-system-data id="linearSystemData"
                              [data]="getLinearSystemDataInput()">
      </app-linear-system-data>

      <div></div>
      <input type="submit" value="Create"/>
    </div>
  </app-card>
</div>
