<!--  BV | x1 x2 x3 x4 x5 | b  -->
<!-- ----+----------------+--- -->
<!--  x3 |  1  2  1  0  0 | 3  -->
<!--  x4 |  4  5  0  1  0 | 6  -->
<!--  x5 |  7  8  0  0  1 | 9  -->
<!-- ----+----------------+--- -->
<!--   z | 10 11  0  0  0 | 0  -->

<ng-container *ngIf="data; else noData">
  <table>

    <!--  BV | x1 x2 x3 x4 x5 | b  -->
    <thead>
    <tr>
      <td class="line-right">BV</td>
      <td *ngFor="let _ of [].constructor(data.numberOfVars); let v = index"
          [ngClass]="getClasses(null, v).join(' ')">
        <span [class.slack-var]="data.slackVars.indexOf(v) !== -1">x<sub>{{ v + 1 }}</sub></span>
      </td>
      <td class="bar-left">b</td>
      <td class="bar-left">theta</td>
    </tr>
    </thead>

    <!--  x3 |  1  2  1  0  0 | 3  -->
    <!--  x4 |  4  5  0  1  0 | 6  -->
    <!--  x5 |  7  8  0  0  1 | 9  -->
    <tbody>
    <tr *ngFor="let _ of [].constructor(data.numberOfConstraints); let c = index">
      <td [ngClass]="getClasses(c, null).concat('bar-right').join(' ')">
        x<sub>{{ data.slackVars[c] + 1 }}</sub>
      </td>

      <td *ngFor="let constraintVar of data.constraintVars![c]; let v = index"
          [ngClass]="getClasses(c, v).join(' ')">
        {{ formatFraction(constraintVar) }}
      </td>

      <td [ngClass]="getClasses(c, null).concat('bar-left').join(' ')">
        {{ formatFraction(data.constraintVals[c]) }}
      </td>

      <td [ngClass]="getClasses(c, null).concat('bar-left').join(' ')"
          [innerHTML]="data.thetas ? formatFraction(data.thetas[c]) : ''">
      </td>
    </tr>
    </tbody>

    <!--   z | 10 11  0  0  0 | 0  -->
    <tfoot>
    <tr>
      <td class="line-right">z</td>
      <td *ngFor="let targetVar of data.targetVars; let v = index"
          [ngClass]="getClasses(null, v).join(' ')">
        {{ formatFraction(targetVar) }}
      </td>
      <td class="bar-left">{{ formatFraction(data.targetVal) }}</td>
      <td class="bar-left"></td>
    </tr>
    </tfoot>

  </table>
</ng-container>
<ng-template #noData>
  No data
</ng-template>
