table {
  margin: auto;
  border: 1px solid white;
  border-collapse: initial;
  border-spacing: 15px 10px;
  text-align: left;
}

.td_input {
  width: 76px;
  height: 41px;
}

.test {
  margin-top: 50px;
}

button {
  margin-top: 50px;
}

.btn-orange {
  background-color: #FFA500;
  color:#ffffff;
}
