<table>
  <tr>
    <td>Anzahl der Variablen:</td>
    <td>
      <div [hidden]="!showInputField">
        <input size="2px" #numberOfVars
               (change)="numberOfVarsChange.emit(+numberOfVars.value)">
      </div>
      <div *ngIf="showInput">
        {{numberOfVars.value}}
      </div>
    </td>
  </tr>
  <tr>
    <td>Anzahl der Nebenbedingungen:</td>
    <td>
      <div [hidden]="!showInputField">

        <input size="2px" #numberOfConstraints
               (change)="numberOfConstraintsChange.emit(+numberOfConstraints.value)">
      </div>
      <div *ngIf="showInput">
        {{numberOfConstraints.value}}
      </div>
    </td>
  </tr>
</table>

<div [hidden]="!showGenerateButton" class="button">
  <button class="btn btn-success btn-lg float-right" type="submit"
          [disabled]="validInput()"
          (click)="showLinearSystem.emit(true); removeInputField(); removeGenerateButton()">
    Generate
  </button>
</div>

<div *ngIf="showUpdateButton">
  <button class="btn btn-orange btn-lg float-right" type="submit"
          (click)="removeInputField(); removeGenerateButton()">
    Update
  </button>


</div>

