<app-card *ngIf="data"
          title="Eingabe der Parameter">

  <app-linear-system-data [init]="getLinearSystemData()"
                          [disabled]="!editable"
                          (dataChange)="linearSystemData = $event">
  </app-linear-system-data>

  <!-- Button -->

  <ng-container *ngIf="editable; then calculate; else edit"></ng-container>
  <ng-template #calculate>

    <button class="btn btn-success btn-lg float-right mt-4"
            [disabled]="!linearSystemData || !linearSystemData.isValid"
            (click)="emitInput()">
      Calculate
    </button>

  </ng-template>
  <ng-template #edit>

    <button class="btn btn-warning btn-lg float-right mt-4"
            (click)="startEditing()">
      Edit
    </button>

  </ng-template>
</app-card>
