<table *ngIf="outputData !== null">

  <!-- Target function -->
  <tr>
    <td>Z</td>
    <td>=</td>

    <ng-container *ngIf="outputData.linearSystemData.targetVars[0] !== 0; else emptyTargetVar0">
      <td>{{outputData.linearSystemData.targetVars[0]}}x<sub>1</sub></td>
    </ng-container>
    <ng-template #emptyTargetVar0>
      <td></td>
    </ng-template>


    <ng-container *ngFor="let _ of outputData.linearSystemData.targetVars.slice(1); index as v">
      <ng-container *ngIf="outputData.linearSystemData.targetVars[v + 1] !== 0; else emptyTargetVar">
        <td>+</td>
        <td>{{outputData.linearSystemData.targetVars[v + 1]}}x<sub>{{v + 2}}</sub></td>
      </ng-container>
      <ng-template #emptyTargetVar>
        <td></td>
        <td></td>
      </ng-template>

    </ng-container>
  </tr>

  <!-- Constraints -->
  <tr *ngFor="let _ of [].constructor(outputData.numberOfConstraints); index as c">
    <td></td>
    <td></td>

    <ng-container *ngIf="outputData.linearSystemData.constraintVars[c][0] !== 0; else emptyConstraintVar0">
      <td>{{outputData.linearSystemData.constraintVars[c][0]}}x<sub>1</sub></td>
    </ng-container>
    <ng-template #emptyConstraintVar0>
      <td></td>
    </ng-template>


    <ng-container *ngFor="let _ of outputData.linearSystemData.constraintVars[c].slice(1); index as v">
      <ng-container *ngIf="outputData.linearSystemData.constraintVars[c][v + 1] !== 0; else emptyConstraintVar">
        <td>+</td>
        <td>{{outputData.linearSystemData.constraintVars[c][v + 1]}}x<sub>{{v + 2}}</sub></td>
      </ng-container>
      <ng-template #emptyConstraintVar>
        <td></td>
        <td></td>
      </ng-template>

    </ng-container>

    <td>=</td>

    <!-- Boundary vector -->
    <td>{{outputData.linearSystemData.constraintConstants[c]}}
    </td>
  </tr>
</table>

<button
  class="btn btn-success btn-lg float-right"
  (click)="emitValues()">
  Next
</button>




