<table *ngIf="data !== null">

  <!-- Target function -->
  <tr>
    <td>Z</td>
    <td>=</td>

    <ng-container *ngIf="data.targetVars[0] !== 0; else emptyTargetVar0">
      <td>
        <ng-container *ngIf="data.targetVars[0] !== 1">{{data.targetVars[0]}}</ng-container>x<sub>1</sub>
      </td>
    </ng-container>
    <ng-template #emptyTargetVar0>
      <td></td>
    </ng-template>



      <ng-container *ngFor="let _ of data.targetVars.slice(1); index as v">
        <ng-container *ngIf="data.targetVars[v + 1] !== 0; else emptyTargetVar">
          <td>+</td>
          <td>
            <ng-container *ngIf="data.targetVars[v + 1] !== 1">{{data.targetVars[v + 1]}}</ng-container>
            x<sub>{{v + 2}}</sub>
          </td>
        </ng-container>
        <ng-template #emptyTargetVar>
          <td></td>
          <td></td>
        </ng-template>

      </ng-container>
  </tr>

  <!-- Constraints -->
  <tr *ngFor="let _ of [].constructor(data.numberOfConstraints); index as c">
    <td></td>
    <td></td>

    <ng-container *ngIf="data.constraintVars[c][0] !== 0; else emptyConstraintVar0">

      <td>
        <ng-container *ngIf="data.constraintVars[c][0] !== 1">{{data.constraintVars[c][0]}}</ng-container>
        x<sub>1</sub>
      </td>
    </ng-container>
    <ng-template #emptyConstraintVar0>
      <td></td>
    </ng-template>


    <ng-container *ngFor="let _ of data.constraintVars[c].slice(1); index as v">
      <ng-container *ngIf="data.constraintVars[c][v + 1] !== 0; else emptyConstraintVar">
        <td>+</td>
        <td>
          <ng-container *ngIf="data.constraintVars[c][v + 1] !== 1">{{data.constraintVars[c][v + 1]}}</ng-container>
          x<sub>{{v + 2}}</sub>
        </td>
      </ng-container>
      <ng-template #emptyConstraintVar>
        <td></td>
        <td></td>
      </ng-template>
    </ng-container>

    <ng-container *ngFor="let _ of data.constraintSlackVars[c]; index as s">
      <ng-container *ngIf="data.constraintSlackVars[c][s] !== 0; else emptyConstraintSlackVar">
        <td style="color: orange">+</td>

        <td style="color: orange">
          <ng-container *ngIf="data.constraintSlackVars[c][s] !== 1">{{data.constraintSlackVars[c][s]}}</ng-container>x<sub>{{data.numberOfConstraints + s}}</sub>
          x<sub>{{data.numberOfConstraints + 1 + s}}</sub>
        </td>

      </ng-container>
      <ng-template #emptyConstraintSlackVar>
        <td></td>
        <td></td>
      </ng-template>
    </ng-container>


    <td>=</td>

    <!-- Boundary vector -->
    <td>
    <td>{{data.constraintConstants[c]}}
    </td>
  </tr>
</table>

<button
  class="btn btn-success btn-lg float-right"
  (click)="emitValues()">
  Next
</button>




