<app-card title="Tableaus berechnen (allgemein)">
  <p>
    Im nächsten Schritt wird das erste einer Reihe von Tableaus aufgestellt
    indem es mit den Werten des Gleichungssystems befüllt wird. Alle folgenden
    Tableaus werden anschließend gemäß dem Simplex-Algorithmus sukzessive aus
    dem jeweils vorangehenden Tableau berechnet bis eine Abbruchbedingung
    erreicht wird. Aus dem letzten Tableau kann dann die Lösung des ursprüngichen
    Problems abgelesen werden.
  </p>

  <p>
    Alle Tableaus haben die gleiche Form. Neben der Zeilen- und Spaltenbeschriftung
    hat ein Tableau soviele Zeilen wie es Nebenbedingungen gibt und eine Zeile für
    die Zielfunktion sowie Spalten für die ursprünglichen Variablen, die Schlupfvariablen,
    den Wert b auf der rechten Seite der jeweiligen Gleichung und den Wert theta der
    unter anderem aus b berechnet wird:
  </p>

  <table class="learn-tableau">
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>&nbsp;</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <button class="btn btn-success btn-lg float-right"
          [disabled]="disabled"
          (click)="next.emit()">
    Continue
  </button>
</app-card>
