table {
  border-spacing: 8px;
}

.value {
  text-align: right;
}

.operator {
  padding-left: 12px;
  padding-right: 12px;
}

/* Button */

button {
  margin-top: 50px;
}

/* Colors */

.slack-var {
  color: #62bbff;
}

.solution-var {
  color: #e261e8;
}
