<div class="container">
  <app-card class="item-a" title="Größe des Linearen Programms">
    <app-large-lp (dataChange)="onLargeLpDataChange($event)">
    </app-large-lp>
  </app-card>

  <div class="arrow1" *ngIf="showLinearSystem">
    <img src="assets/images/bluearrow.png" alt="arrow1" width="50px" height="50px">
  </div>

  <app-card class="item-b" *ngIf="showLinearSystem" title="Eingabe der Parameter">
    <app-linear-system
      [numberOfVars]="numberOfVars"
      [numberOfConstraints]="numberOfConstraints"
      (dataChange)="linearSystemData = $event">
    </app-linear-system>
  </app-card>

  <div class="arrow2" *ngIf="linearSystemData !== null">
    <img src="assets/images/bluearrow.png" alt="arrow1" width="50px" height="50px">
  </div>
  <app-card class="item-c" title="Standard-Form">
    <app-new-linear-system [data]="{numberOfVars: 2, numberOfConstraints: 2}"
                           (dataChange)="bla = $event">
    </app-new-linear-system>
  </app-card>

  <app-card class="item-c" *ngIf="linearSystemData !== null" title="Standard-Form">
    <app-standard-form [numberOfVars]="numberOfVars"
                       [numberOfConstraints]="numberOfConstraints"
                       [linearSystemData]="negateTargetVars(linearSystemData)"
                       (dataChange)="onStandardFormDataChange($event)">
    </app-standard-form>
  </app-card>

  <div class="arrow3" *ngIf="linearSystemData !== null">
    <img src="assets/images/bluearrow.png" alt="arrow1" width="50px" height="50px">
  </div>

  <app-card class="item-c" *ngIf="bla" title="Eingabe des Linearen Programms">
  <app-new-standard-form
      [data]="{numberOfVars: numberOfVars, numberOfConstraints: numberOfConstraints, targetVars: bla.targetVarsRow, constraintVars: bla.constraintVarsMatrix, constraintVals: bla.constraintValsCol}">
    </app-new-standard-form>
  </app-card>

  <!-- Always show hardcoded new-standard-form component -->
  <app-card class="item-c" title="LGS in Standard-Form">
  <app-new-standard-form [data]="newStandardFormData">
    </app-new-standard-form>
  </app-card>

  <!-- New tableaus -->
  <app-card class="item-d" title="Tableaus">
    <app-new-tableau *ngFor="let tableau of tableauData" [data]="getNewTableauInput(tableau)">
    </app-new-tableau>
  </app-card>

  <ng-container *ngIf="showSolution">
    <div class="arrow4">
      <img src="assets/images/bluearrow.png" alt="arrow1" width="50px" height="50px">
    </div>

    <app-card class="item-e" title="Lösung">
      <app-solution [inputData]="{targetConstant: targetConstant!}"></app-solution>
    </app-card>
  </ng-container>
</div>
