
.container {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows:  auto;
  grid-template-areas:
    "header header  header header header"
    ".      .       card1    .         ."
    ".      arrow1      .    .         ."
    ".      .       card2    .         ."
    ".      arrow2      .    .         ."
    ".      .       card3    .         ."
    ".      arrow3      .    .         ."
     ".      .      card4    .         ."
    "footer footer footer footer footer";
  margin-top: 40px;
  margin-bottom: 40px;
}

.item-a {
  grid-area: card1;
}

.arrow1 {
  grid-area: arrow1;
}

.item-b {
  grid-area: card2;
}

.arrow2 {
  grid-area: arrow2;
}

.item-c {
  grid-area: card3;
}

.arrow3 {
  grid-area: arrow3;
}

.item-d {
  grid-area: card4;
}
