<div class="container">

  <!-- Linear System Size -->
  <app-card class="card-1"
            title="Größe des Linearen Programms">
    <app-linear-system-size (dataChange)="onLinearSystemSizeChange($event)">
    </app-linear-system-size>
  </app-card>

  <!-- Linear System Data -->
  <div class="arrow-2">
  <img src="assets/images/bluearrow.png" alt="Blue Arrow">
  </div>

  <app-card class="card-2" title="Eingabe der Parameter">
    <app-linear-system-data [data]="getLinearSystemDataInput()"
                            (dataChange)="onLinearSystemDataChange($event)">
    </app-linear-system-data>
  </app-card>


    <!-- Standard Form -->
  <div class="arrow-3">
    <img src="assets/images/bluearrow.png" alt="Blue Arrow">
  </div>


  <app-card class="card-3" title="LGS in Standard-Form">
    <app-standard-form [data]="getStandardFormInput()"
                       (dataChange)="onStandardFormChange($event)">
    </app-standard-form>
  </app-card>

  <!-- Tableaus -->

  <!--  <app-card class="card-4" *ngIf="linearSystemData !== null" title="Eingabe des Linearen Programms">-->
  <!--    <app-tableau *ngFor="let tableuaData of tableauDataList; index as i"-->
  <!--                 [inputData]="getTableauInput(i)">-->
  <!--    </app-tableau>-->
  <!--  </app-card>-->


  <!-- New tableaus -->
  <app-card class="card-4" title="Tableaus">
    <app-new-tableau *ngFor="let tableau of tableauData" [data]="getNewTableauInput(tableau)">
    </app-new-tableau>
  </app-card>

  <ng-container *ngIf="showSolution">
    <div class="arrow-5">
      <img src="assets/images/bluearrow.png" alt="arrow1" width="50px" height="50px">
    </div>

    <app-card class="card-5" title="Lösung">
      <app-solution [inputData]="{targetConstant: targetConstant!}"></app-solution>
    </app-card>
  </ng-container>
</div>
