<table>
  <tr>
    <td>Anzahl der Variablen:</td>
    <td>
      <input #numberOfVarsInput
             type="number"
             min="0"
             [disabled]="!editable"
             (input)="currentNumberOfVars = +numberOfVarsInput.value">
    </td>
  </tr>
  <tr>
    <td>Anzahl der Nebenbedingungen:</td>
    <td>
      <input #numberOfConstraintsInput
             type="number"
             min="0"
             [disabled]="!editable"
             (input)="currentNumberOfConstraints = +numberOfConstraintsInput.value">
    </td>
  </tr>
</table>

<button *ngIf="lastEmittedNumberOfVars === 0 && lastEmittedNumberOfConstraints === 0"
        class="btn btn-success btn-lg float-right"
        [disabled]="currentNumberOfVars === 0 || currentNumberOfConstraints === 0"
        (click)="emitValues()">
  Generate
</button>

<button *ngIf="lastEmittedNumberOfVars !== 0 && lastEmittedNumberOfConstraints !== 0 && !editable"
        class="btn btn-warning btn-lg float-right"
        (click)="enableEditing()">
  Edit
</button>

<button *ngIf="lastEmittedNumberOfVars !== 0 && lastEmittedNumberOfConstraints !== 0 && editable"
        class="btn btn-success btn-lg float-right"
        [disabled]="currentNumberOfVars === 0 || currentNumberOfConstraints === 0"
        (click)="emitValues()">
  Update
</button>


