<table>
  <tr>
    <td>Anzahl der Variablen:</td>
    <td>
      <input type="number"

             min="0"
             [disabled]="!editable"
             (input)="onNumberOfVarsChange($event)">


    </td>
  </tr>
  <tr>
    <td>Anzahl der Nebenbedingungen:</td>
    <td>
      <input type="number"
             min="0"
             [disabled]="!editable"
             (input)="onNumberOfConstraintsChange($event)">

    </td>
  </tr>
</table>

<!-- Button -->
<ng-container *ngIf="editable; then generate; else edit"></ng-container>
<ng-template #generate>
  <button class="btn btn-success btn-lg float-right"
          [disabled]="!inputValid"
          (click)="onGenerate()">

  Generate
  </button>

</ng-template>
<ng-template #edit>

  <button class="btn btn-warning btn-lg float-right"
          (click)="onEdit()">

  Edit
  </button>

</ng-template>






