<ul>
  <li *ngFor="let exercise of exercises">
    <button class="btn"
            routerLink="/exercises/{{ exercise.id }}">
      {{ exercise.title }}
    </button>
  </li>
  <li>
    <button class="btn easy-exercises"
            routerLink="/exercises/1">
      Einfach
    </button>
  </li>
  <li>
    <button class="btn medium-exercises"
            routerLink="/exercises/2">
      Mittel
    </button>
  </li>
  <li>
    <button class="btn hard-exercises"
            routerLink="/exercises/3">
      Schwer
    </button>
  </li>
  <li>
    <button class="btn random-exercises"
            routerLink="/exercises/4">
      Zufällig
    </button>
  </li>
</ul>
