<table>

  <!-- Title -->

  <tr>
    <td>
      Title
    </td>
    <td>
      <input/>
    </td>
  </tr>

  <!-- Difficulty -->

  <tr>
    <td>
      Difficulty
    </td>
    <td>
      <div class="d-inline-block">
        <input type="radio" id="easy" name="difficulty" value="easy">
        <label for="easy">Easy</label>
      </div>
      <div class="d-inline-block">
        <input type="radio" id="medium" name="difficulty" value="easy">
        <label for="medium">Medium</label>
      </div>
      <div class="d-inline-block">
        <input type="radio" id="hard" name="difficulty" value="easy">
        <label for="hard">Hard</label>
      </div>
    </td>
  </tr>

  <!-- Task -->

  <tr>
    <td>
      Task
    </td>
    <td>
      <textarea></textarea>
    </td>
  </tr>

</table>

