<app-card *ngIf="initialized"
          title="Tableaus">

  <!--
    BV | x1 x2 x3 x4 x5 |  b
    ---+----------------+---
    x3 |  1  2  1  0  0 |  3
    x4 |  4  5  0  1  0 |  6
    x5 |  7  8  0  0  1 |  9
    ---+----------------+---
     z | 10 11  0  0  0 |  0
  -->

  <ng-container *ngFor="let expectedTableau of expected; let t = index; trackBy: trackByIndex">
    <table *ngIf="t <= solvedTableausCount"
           class="mx-auto">

      <!--
        Table Header

        BV | x1 x2 x3 x4 x5 |  b
        ---+----------------+---
      -->

      <thead class="line-bottom">
      <tr>
        <td class="line-right">BV</td>
        <td *ngFor="let _ of expectedTableau.targetVars; let v = index">
          x<sub>{{ v + 1 }}</sub>
        </td>
        <td class="line-left">b</td>
        <td class="line-left">theta</td>
      </tr>
      </thead>

      <!--
        Table Body (Constraints)

        x3 |  1  2  1  0  0 |  3
        x4 |  4  5  0  1  0 |  6
        x5 |  7  8  0  0  1 |  9
      -->

      <tbody>
      <tr *ngFor="let constraintVarsRow of expectedTableau.constraintVars; let c = index">
        <td class="line-right">
          <select [class.wrong]="t === solvedTableausCount && !slackVarsCorrect[c]"
                  [disabled]="t < solvedTableausCount"
                  (input)="slackVarsCorrect[c] = true"
                  (change)="slackVars[c] = numberFromInputEvent($event)!">

            <option [value]="null"></option>
            <option *ngFor="let _ of [].constructor(targetVars.length); index as v" [value]="v">
              x{{ v + 1 }}
            </option>
          </select>
        </td>

        <td *ngFor="let constraintVar of constraintVarsRow; let v = index">
          <input class="fraction-input"
                 [class.wrong]="t === solvedTableausCount && !constraintVarsCorrect[c][v]"
                 [disabled]="t < solvedTableausCount"
                 (input)="constraintVarsCorrect[c][v] = true"
                 (change)="constraintVars[c][v] = fractionFromInputEvent($event)"/>
        </td>

        <td class="line-left">
          <input class="fraction-input"
                 [class.wrong]="t === solvedTableausCount && !constraintValsCorrect[c]"
                 [disabled]="t < solvedTableausCount"
                 (input)="constraintValsCorrect[c] = true"
                 (change)="constraintVals[c] = fractionFromInputEvent($event)"/>
        </td>

        <td class="line-left">
          <input class="fraction-input"
                 [class.wrong]="t === solvedTableausCount && !thetasCorrect[c]"
                 [disabled]="t < solvedTableausCount"
                 (input)="thetasCorrect[c] = true"
                 (change)="thetas[c] = fractionFromInputEvent($event)"/>
        </td>
      </tr>
      </tbody>

      <!--
        Table Footer (Target Function)

        z | 10 11  0  0  0 |  0
      -->

      <tfoot class="line-top">
      <tr>
        <td class="line-right">
          z
        </td>

        <td *ngFor="let targetVar of expectedTableau.targetVars; let v = index">
          <input class="fraction-input"
                 [class.wrong]="t === solvedTableausCount && !targetVarsCorrect[v]"
                 [disabled]="t < solvedTableausCount"
                 (input)="targetVarsCorrect[v] = true"
                 (change)="targetVars[v] = fractionFromInputEvent($event)"/>
        </td>

        <td class="line-left">
          <input class="fraction-input"
                 [class.wrong]="t === solvedTableausCount && !targetValCorrect"
                 [disabled]="t < solvedTableausCount"
                 (input)="targetValCorrect = true"
                 (change)="targetVal = fractionFromInputEvent($event)"/>
        </td>

        <td class="line-left"></td>
      </tr>
      </tfoot>

    </table>
  </ng-container>

  <!-- Next Button -->

  <button class="btn btn-lg float-right mt-4"
          [ngClass]="isInputCorrect ? 'btn-success' : 'btn-danger'"
          [disabled]="disabled || !isInputCorrect"
          (click)="checkUserInputAndEmit()">
    Weiter
  </button>

</app-card>
