<div class="card1">
  <div class="card-header">
    Größe des Linearen Programms
  </div>
  <div class="card-body">

    <table>
      <tr>
        <td>Anzahl der Variablen:</td>
        <td><input size="2px" ></td>
      </tr>
      <tr>
        <td>Anzahl der Nebenbedingungen:</td>
        <td><input size="2px" ></td>
      </tr>
    </table>
    <div class="d-md-flex justify-content-md-end test">
      <button class="btn btn-primary" type="button">OK</button>
    </div>
  </div>
</div>

<div class="card2">
  <div class="card-header">
    Eingabe des Linearen Programms
  </div>
  <app-tableau></app-tableau>
  <div class="card-body">
    <div class="d-md-flex justify-content-md-end test">
      <button class="btn btn-primary" type="button">OK</button>
    </div>
  </div>
</div>



