
.card {
  margin: 50px auto auto;
  color: white;
  font-size: 25px;
  background-color: #475366;
  width: 50%;
}

.card-body {
  padding: 50px;

}

table {
  border: 1px solid white;
  border-collapse: initial;
  border-spacing: 15px 10px;
  text-align: left
}

button {
  margin-top: 50px;
}
