<div class="card card1">
  <div class="card-header">
    Größe des Linearen Programms
  </div>
  <div class="card-body">
  <app-large-lp></app-large-lp>
    <div class="button">
      <button class="btn btn-success btn-lg float-right" type="submit">
        OK
      </button>
    </div>

  </div>
</div>

<div class="card card2">
  <div class="card-header">
    Eingabe des Linearen Programms
  </div>
  <div class="card-body">
    <app-tableau></app-tableau>
    <div class="button">
      <button class="btn btn-success btn-lg float-right" type="submit">
        OK
      </button>
    </div>
  </div>
</div>



