thead {
  border-bottom: 1px solid white;
}

tfoot {
  border-top: 1px solid white;
}

.line-left {
  border-left: 1px solid white;
}

.border-right {
  border-right: 1px solid white;
}

td {
  padding: 8px;
}

.center {
  text-align: center;
}

/* Column Widths */

table {
  table-layout: fixed;
  /*width: 100%;*/
  word-wrap: break-word;
}

td:first-child {
  width: 50px;
}

td:not(:first-child):not(:last-child) {
  width: 80px;
}

td:last-child {
  width: 80px;
}

/* Mark pivot col and row */

.pivot-row {
  background-color: rgba(255, 193, 0.00, 0.50);
}

.pivot-col {
  background-color: rgba(255, 193, 0.00, 0.50);
}

.pivot-row-col {
  background-color: rgba(255, 193, 0.00, 0.75);
}

/* Colors */

.slack-var {
  color: #62bbff;
}
