<app-card *ngIf="data"
          title="LGS in Standard-Form">

  <!--                                                 -->
  <!--  -1 x1 -  2 x2 -  3 x3                + z =  0  -->
  <!--                                                 -->
  <!--   4 x1 +  5 x2 +  6 x3 + x4               =  7  -->
  <!--   8 x1 +  9 x2 + 10 x3      + x5          = 11  -->
  <!--  12 x1 + 13 x2 + 14 x3           + x6     = 15  -->
  <!--                                                 -->

  <table class="mx-auto">

    <!--  -1 x1 -  2 x2 -  3 x3                + z =  0  -->
    <tr>

      <!--  -1 x1  -->
      <ng-container *ngVar="data.targetVars[0] as targetVar">
        <td class="value">{{ formatSign(targetVar) + formatFraction(targetVar) }}</td>
        <td class="variable" [innerHTML]="formatVariable(targetVar, 1)"></td>
      </ng-container>

      <!--  -  2 x2 -  3 x3  -->
      <ng-container *ngFor="let _ of data.targetVars.slice(1); index as v">
        <ng-container *ngVar="data.targetVars[v + 1] as targetVar">
          <td class="operator">{{ formatOperator(targetVar) }}</td>
          <td class="value">{{ formatFraction(targetVar) }}</td>
          <td class="variable" [innerHTML]="formatVariable(targetVar, v + 2)"></td>
        </ng-container>
      </ng-container>

      <!--  + z =  0  -->
      <td class="operator solution-var">+</td>
      <td class="value solution-var">z</td>
      <td class="operator">=</td>
      <td class="value">0</td>

    </tr>

    <!--   4 x1 +  5 x2 +  6 x3 + x4               =  7  -->
    <!--   8 x1 +  9 x2 + 10 x3      + x5          = 11  -->
    <!--  12 x1 + 13 x2 + 14 x3           + x6     = 15  -->
    <tr *ngFor="let _ of [].constructor(data.numberOfConstraints); index as c">

      <!--   4 x1  -->
      <!--   8 x1  -->
      <!--  12 x1  -->
      <ng-container *ngVar="data.constraintVars[c][0] as constraintVar">
        <td class="value">{{ formatSign(constraintVar) + formatFraction(constraintVar) }}</td>
        <td class="variable" [innerHTML]="formatVariable(constraintVar, 1)"></td>
      </ng-container>

      <!--   5 x2 +  6 x3  -->
      <!--   9 x2 + 10 x3  -->
      <!--  13 x2 + 14 x3  -->
      <ng-container *ngFor="let _ of data.constraintVars[c].slice(1); index as v">
        <ng-container *ngVar="data.constraintVars[c][v + 1] as constraintVar">
          <td [class.slack-var]="data.slackVars.indexOf(v + 1) !== -1"
              class="operator">{{ formatOperator(constraintVar) }}</td>
          <td [class.slack-var]="data.slackVars.indexOf(v + 1) !== -1"
              class="value">{{ formatFraction(constraintVar) }}</td>
          <td [class.slack-var]="data.slackVars.indexOf(v + 1) !== -1" class="variable"
              [innerHTML]="formatVariable(constraintVar, v + 2)"></td>
        </ng-container>
      </ng-container>

      <!--      =  7  -->
      <!--      = 11  -->
      <!--      = 15  -->
      <td class="operator"></td>
      <td class="value"></td>
      <td class="operator">=</td>
      <td class="value">{{ formatFraction(data.constraintVals[c]) }}
      </td>
    </tr>
  </table>

  <button class="btn btn-success btn-lg float-right mt-4"
          (click)="click.emit()">
    Weiter
  </button>
</app-card>
