.button {
  box-sizing: border-box;
  color: white;
  width: 100%;
  padding: 50px 80px;
  text-align: center;
  font-size: 25px;
}

.button-box {
  border: solid 1px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.nav-container {
  /*border-style: dotted;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

