<div class="container">

  <!-- Overview -->

  <app-card class="card-1"
            title="Übersicht">

    Löse die Textaufgabe indem du

    <ol class="task-list">
      <li>die Anzahl der Variablen und Nebenbedingungen bestimmst</li>
      <li>das lineare Gleichungssystem aufstellst</li>
      <li>das lineare Gleichungssystem in Normalform überführst</li>
      <li>das lineare Gleichungssystem in mehreren Tableaus löst</li>
      <li>die Lösung aus dem letzten Tableau abliest</li>
    </ol>
  </app-card>

  <!-- Task -->

  <div class="arrow-2">
    <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
  </div>

  <app-card *ngIf="exercise"
            class="card-2"
            title="Aufgabe">

    {{ exercise.task }}
  </app-card>

  <!-- Linear System Size -->

  <div class="arrow-3">
    <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
  </div>

  <app-practice-linear-system-size-card class="card-3"
                                        [expected]="expectedLinearSystemSize"
                                        [disabled]="linearSystemSizeCorrect"
                                        (correct)="linearSystemSizeCorrect = true">
  </app-practice-linear-system-size-card>

  <!-- Linear System Data -->

  <ng-template [ngIf]="linearSystemSizeCorrect">
    <div class="arrow-4">
      <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-practice-linear-system-data-card class="card-4"
                                          [expected]="expectedLinearSystemData"
                                          [disabled]="linearSystemDataCorrect"
                                          (correct)="linearSystemDataCorrect = true">
    </app-practice-linear-system-data-card>
  </ng-template>

  <!-- Standard Form -->

  <ng-template [ngIf]="linearSystemDataCorrect">
    <div class="arrow-5">
      <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-practice-standard-form-card class="card-5"
                                     [expected]="expectedStandardForm"
                                     [disabled]="standardFormCorrect"
                                     (correct)="standardFormCorrect = true">
    </app-practice-standard-form-card>
  </ng-template>

  <!-- Tableaus -->

  <ng-template [ngIf]="standardFormCorrect">
    <div class="arrow-6">
      <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-card class="card-6" title="Tableaus">
      <app-practice-tableau>
      </app-practice-tableau>
    </app-card>
  </ng-template>

  <!-- Solution -->

  <ng-template [ngIf]="tableausCorrect">
    <div class="arrow-7">
      <img class="arrow" src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-card class="card-7" title="Lösung">
      <app-practice-solution>
      </app-practice-solution>
    </app-card>
  </ng-template>

</div>
