<!--                                                 -->
<!--  -1 x1 -  2 x2 -  3 x3                + z =  0  -->
<!--                                                 -->
<!--   4 x1 +  5 x2 +  6 x3 + x4               =  7  -->
<!--   8 x1 +  9 x2 + 10 x3      + x5          = 11  -->
<!--  12 x1 + 13 x2 + 14 x3           + x6     = 15  -->
<!--                                                 -->

<table *ngIf="data">

  <!--  -1 x1 -  2 x2 -  3 x3                + z =  0  -->
  <tr>

    <!--  -1 x1  -->
    <ng-container *ngVar="targetVars[0] as targetVar">
      <td>{{ formatSign(targetVar) + formatFraction(targetVar) }}</td>
      <td [innerHTML]="formatVariable(targetVar, 1)"></td>

    </ng-container>

    <!--  -  2 x2 -  3 x3  -->
    <ng-container *ngFor="let _ of targetVars.slice(1); index as v">
      <ng-container *ngVar="targetVars[v + 1] as targetVar">
        <td>{{ formatOperator(targetVar) }}</td>
        <td>{{ formatFraction(targetVar) }}</td>
        <td [innerHTML]="formatVariable(targetVar, v + 2)"></td>
      </ng-container>
    </ng-container>

    <!--  + z =  0  -->
    <td>+</td>
    <td>z</td>
    <td>=</td>
    <td>0</td>

  </tr>

  <!--   4 x1 +  5 x2 +  6 x3 + x4               =  7  -->
  <!--   8 x1 +  9 x2 + 10 x3      + x5          = 11  -->
  <!--  12 x1 + 13 x2 + 14 x3           + x6     = 15  -->
  <tr *ngFor="let _ of [].constructor(numberOfConstraints); index as c">

    <!--   4 x1  -->
    <!--   8 x1  -->
    <!--  12 x1  -->
    <ng-container *ngVar="constraintVars[c][0] as constraintVar">
      <td>{{ formatSign(constraintVar) + formatFraction(constraintVar) }}</td>
      <td [innerHTML]="formatVariable(constraintVar, 1)"></td>
    </ng-container>


    <!--   5 x2 +  6 x3  -->
    <!--   9 x2 + 10 x3  -->
    <!--  13 x2 + 14 x3  -->
    <ng-container *ngFor="let _ of constraintVars[c].slice(1); index as v">
      <ng-container *ngVar="constraintVars[c][v + 1] as constraintVar">
        <td>{{ formatOperator(constraintVar) }}</td>
        <td>{{ formatFraction(constraintVar) }}</td>
        <td [innerHTML]="formatVariable(constraintVar, v + 2)"></td>
      </ng-container>
    </ng-container>

    <!--      =  7  -->
    <!--      = 11  -->
    <!--      = 15  -->
    <td></td>
    <td></td>
    <td>=</td>
    <td>{{ formatFraction(constraintVals[c]) }}
    </td>
  </tr>
</table>

<button class="btn btn-success btn-lg float-right" (click)="emitValues()">
  Next
</button>

