<main>

  <!-- Overview -->

  <app-learn-overview-card class="card-1"
                           [disabled]="overviewRead"
                           (next)="overviewRead = true">
  </app-learn-overview-card>

  <!-- Linear System Size -->

  <ng-container *ngIf="overviewRead">
    <div class="arrow-2">
      <img src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-learn-linear-system-size-card class="card-2"
                                       [disabled]="linearSystemSizeRead"
                                       (next)="linearSystemSizeRead = true">
    </app-learn-linear-system-size-card>
  </ng-container>

</main>
