<main>

  <!-- Overview -->

  <!--  <app-learn-overview-card class="card-1"-->
  <!--                           [disabled]="overviewRead"-->
  <!--                           (next)="overviewRead = true">-->
  <!--  </app-learn-overview-card>-->

  <!-- Linear System Size -->

  <ng-container *ngIf="overviewRead">
    <div class="arrow-2">
      <img src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-learn-linear-system-size-card class="card-2"
                                       [disabled]="linearSystemSizeRead"
                                       (next)="linearSystemSizeRead = true">
    </app-learn-linear-system-size-card>
  </ng-container>

  <!-- Linear System Data -->

  <ng-container *ngIf="linearSystemSizeRead">
    <div class="arrow-3">
      <img src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-learn-linear-system-data-card class="card-3"
                                       [disabled]="linearSystemDataRead"
                                       (next)="linearSystemDataRead = true">
    </app-learn-linear-system-data-card>
  </ng-container>

  <!-- Standard Form -->

  <ng-container *ngIf="linearSystemDataRead">
    <div class="arrow-4">
      <img src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-learn-standard-form-card class="card-4"
                                  [disabled]="standardFormRead"
                                  (next)="standardFormRead = true">
    </app-learn-standard-form-card>
  </ng-container>

  <!-- Tableaus -->

  <ng-container *ngIf="true">
    <div class="arrow-5">
      <img src="assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-learn-tableaus-card class="card-5"
                             [disabled]="tableausRead"
                             (next)="tableausRead = true">
    </app-learn-tableaus-card>
  </ng-container>

</main>
