<app-card title="Größe des Linearen Programms">

  <table class="m-auto">
    <tr>
      <td>Anzahl der Variablen:</td>
      <td>
        <input class="number-input"
               [class.wrong]="!numberOfVarsValid"
               type="number" min="1"
               [disabled]="!editable"
               (input)="numberOfVarsValid = true"
               (change)="numberOfVars = numberFromInputEvent($event)">
      </td>
    </tr>
    <tr>
      <td>Anzahl der Nebenbedingungen:</td>
      <td>
        <input class="number-input"
               [class.wrong]="!numberOfConstraintsValid"
               type="number" min="1"
               [disabled]="!editable"
               (input)="numberOfConstraintsValid = true"
               (change)="numberOfConstraints = numberFromInputEvent($event)">
      </td>
    </tr>
  </table>

  <!-- Next/Edit Button -->

  <ng-container *ngIf="editable; then next; else edit"></ng-container>

  <ng-template #next>
    <button class="btn btn-success btn-lg float-right mt-4"
            (click)="checkUserInputAndEmit()">
      Weiter
    </button>
  </ng-template>

  <ng-template #edit>
    <button class="btn btn-warning btn-lg float-right mt-4"
            (click)="startEditing()">
      Edit
    </button>
  </ng-template>

</app-card>
