main {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: auto;
  grid-template-areas:
    "header  header  header"
    ".       card-1  .     "
    "arrow-2 .       .     "
    ".       card-2  .     "
    "arrow-3 .       .     "
    ".       card-3  .     "
    "arrow-4 .       .     "
    ".       card-4  .     "
    "arrow-5 .       .     "
    ".       card-5  .     ";

  width: 90%;
  margin: 40px auto;
}

.card-1 {
  grid-area: card-1;
}

.arrow-2 {
  grid-area: arrow-2;
}

.card-2 {
  grid-area: card-2;
}

.arrow-3 {
  grid-area: arrow-3;
}

.card-3 {
  grid-area: card-3;
}

.arrow-4 {
  grid-area: arrow-4;
}

.card-4 {
  grid-area: card-4;
}

.arrow-5 {
  grid-area: arrow-5;
}

.card-5 {
  grid-area: card-5;
}
