<div class="container">

  <!-- Linear System Size -->

  <app-calc-linear-system-size-card class="card-1"
                                    (dataChange)="setLinearSystemSize($event)">
  </app-calc-linear-system-size-card>

  <!-- Linear System Data -->

  <ng-container *ngIf="linearSystemSizeOutput">
    <div class="arrow-2">
      <img src="../../../assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-calc-linear-system-data-card class="card-2"
                                      [data]="getLinearSystemDataCardInput()"
                                      (dataChange)="setLinearSystemData($event)">
    </app-calc-linear-system-data-card>
  </ng-container>

  <!-- Standard Form -->

  <ng-container *ngIf="linearSystemDataCardOutput">
    <div class="arrow-3">
      <img src="../../../assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-calc-standard-form-card class="card-3"
                                 [data]="getStandardFormInput()"
                                 (click)="showTableaus = true">
    </app-calc-standard-form-card>
  </ng-container>

  <!-- Tableaus -->

  <ng-container *ngIf="showTableaus">
    <div class="arrow-4">
      <img src="../../../assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-card class="card-4" title="Tableaus">
      <ng-container *ngFor="let tableau of tableaus">
        <app-calc-tableau-card [data]="getTableauInput(tableau)"></app-calc-tableau-card>
        <br/>
      </ng-container>
    </app-card>
  </ng-container>

  <!-- Solution -->

  <ng-container *ngIf="showTableaus">
    <div class="arrow-5">
      <img src="../../../assets/images/bluearrow.png" alt="Blue Arrow">
    </div>

    <app-calc-solution-card class="card-5"
                            [data]="getSolutionInput()">
    </app-calc-solution-card>
  </ng-container>

</div>
