<app-card title="Tableaus berechnen">
  <p>
    Im nächsten Schritt wird das erste einer Reihe von Tableaus aufgestellt
    indem es mit den Werten des Gleichungssystems befüllt wird. Alle folgenden
    Tableaus werden anschließend gemäß dem Simplex-Algorithmus sukzessive aus
    dem jeweils vorangehenden Tableau berechnet bis eine Abbruchbedingung
    erreicht wird. Aus dem letzten Tableau kann dann die Lösung des ursprüngichen
    Problems abgelesen werden.
  </p>

  <p>
    Alle Tableaus haben die gleiche Form. Neben der Zeilen- und Spaltenbeschriftung
    hat ein Tableau soviele Zeilen wie es Nebenbedingungen gibt und eine Zeile für
    die Zielfunktion sowie Spalten für die ursprünglichen Variablen, die Schlupfvariablen,
    den Wert b auf der rechten Seite der jeweiligen Gleichung und den Wert theta der
    unter anderem aus b berechnet wird:
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>&nbsp;</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Das initiale Tableau kann fast vollständig aus dem Gleichungssystem in Standardform
    befüllt werden - nur die theta-Spalte bleibt vorerst leer. Man beachte, dass die Zielfunktion
    anders als beim Gleichungssystem konventionsgemäß in der letzten Zeile des Tableaus notiert
    wird. Für die Beispielaufgabe ergibt sich das folgende Tableau:
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th></th>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>15</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td>-1000</td>
      <td>-1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Im obigen Tableau ist gut erkennbar, dass die Variablenparameter spaltenweise als
    Vektoren gelesen werden können. Dabei bilden die Schlupfvariablen Einheitsvektoren.
    Die Vektoren der anderen Variablen können als Linearkombination der Einheitsvektoren
    ausgedrückt werden. Somit bilden die Vektoren der Schlupfvariablen zu Beginn eine
    Basis und werden auch als Basisvariablen bezeichnet. Die Basisvariablen bilden die
    bisher fehldende Zeilenbeschriftung im Tableau. Im ersten Tableau werden die Zeilen
    also mit den Schlupfvariablen beschriftet wie im folgenden Tableau ergänzt. Im Laufe
    des Simplex-Algorithmus werden sich die Basisvariablen ändern.
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>x<sub>3</sub></th>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td></td>
    </tr>
    <tr>
      <th>x<sub>4</sub></th>
      <td>15</td>
      <td>10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td>-1000</td>
      <td>-1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Ausgehend vom initialen Tableau werden nun weitere Tableaus solange der negativste
    Wert in der Zielfunktions-Zeile negativ ist. Theoretisch kann der Algorithmus also
    direkt nach Aufstellen des initialen Tableaus abbrechen. In diesem Beispiel ist
    der negativste Wert -1500 allerdings kleiner 0 und markiert somit die sogenannte
    "Pivot-Spalte":
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th class="pivot-col">x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>x<sub>3</sub></th>
      <td>1</td>
      <td class="pivot-col">2</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td></td>
    </tr>
    <tr>
      <th>x<sub>4</sub></th>
      <td>15</td>
      <td class="pivot-col">10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td>-1000</td>
      <td class="pivot-col">-1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Anhand der Pivot-Spalte kann nun die theta-Spalte für die Zeilen der Nebenbedingungen
    befüllt werden. Die theta-Werte ergeben sich jeweils als Quotient der b- und der
    Pivot-Spalte. Für die Zielfunktions-Zeile wird kein theta berechnet. Falls die
    Pivot-Spalte den Wert 0 enthält ist theta undefiniert und wird bei den folgenden
    Betrachtungen ingoriert.
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th class="pivot-col">x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th class="wider">theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>x<sub>3</sub></th>
      <td>1</td>
      <td class="pivot-col">2</td>
      <td>1</td>
      <td>0</td>
      <td>12</td>
      <td class="wider">12 / 2 = 6</td>
    </tr>
    <tr>
      <th>x<sub>4</sub></th>
      <td>15</td>
      <td class="pivot-col">10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td class="wider">100 / 10 = 10</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td>-1000</td>
      <td class="pivot-col">-1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td class="wider"></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Die Zeile mit dem kleinsten theta größer 0 bildet die "Pivot-Zeile". Im obigen
    Beispiel ist dies die mit x3 gekennzeichnete Zeile. Der Wert am Schnittpunkt
    von Pivot-Spalte und -Zeile ist das "Pivot-Element" - hier also der Wert 2.
  </p>

  <table>
    <thead>
    <tr>
      <th></th>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th class="pivot-col">x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th class="wider">theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th class="pivot-row">A</th>
      <th class="pivot-row">x<sub>3</sub></th>
      <td class="pivot-row">1</td>
      <td class="pivot-row-col">2</td>
      <td class="pivot-row">1</td>
      <td class="pivot-row">0</td>
      <td class="pivot-row">12</td>
      <td class="pivot-row wider">12 / 2 = 6</td>
    </tr>
    <tr>
      <th>B</th>
      <th>x<sub>4</sub></th>
      <td>15</td>
      <td class="pivot-col">10</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td class="wider">100 / 10 = 10</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>C</th>
      <th>z</th>
      <td>-1000</td>
      <td class="pivot-col">-1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td class="wider"></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Mithilfe des Pivot-Elements wird das nächste Tableau berechnet. In diesem
    neuen Tableau soll die Variable der vorangehenden Pivot-Spalte - hier also
    die Variable x<sub>2</sub> - zur Basisvariable werden. Um dies zu erreichen
    wird zuerst die Pivot-Zeile durch das Pivot-Element geteilt. So ergibt sich
    das 1-Element im Vektor:
  </p>

  <table>
    <thead>
    <tr>
      <th></th>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>A / 2</th>
      <th></th>
      <td>1/2</td>
      <td>1</td>
      <td>1/2</td>
      <td>0</td>
      <td>6</td>
      <td></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th></th>
      <th>z</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Anschließend werden alle anderen Zeilen, inklusive der Zielfunktions-Zeile, so
    mit einem Vielfachen der Pivot-Zeile verrechnet, dass sich in der bisherigen
    Pivot-Spalte der Wert 0 ergibt.
  </p>

  <table>
    <thead>
    <tr>
      <th class="wider"></th>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th class="wider">A / 2</th>
      <th></th>
      <td>1/2</td>
      <td>1</td>
      <td>1/2</td>
      <td>0</td>
      <td>6</td>
      <td></td>
    </tr>
    <tr>
      <th class="wider">B - 5A</th>
      <th></th>
      <td>10</td>
      <td>0</td>
      <td>-5</td>
      <td>1</td>
      <td>40</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th class="wider">C + 750A</th>
      <th>z</th>
      <td>-250</td>
      <td>0</td>
      <td>750</td>
      <td>0</td>
      <td>9000</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Durch die Berechnung ist x<sub>2</sub> zur Basisvariable geworden. x<sub>3</sub>
    ist hingegen keine Basisvariable mehr. Dies spiegelt sich auch durch die
    angepasste Beschriftung der Nebenbedingungs-Zeilen wieder:
  </p>

  <table>
    <thead>
    <tr>
      <th class="wider"></th>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th class="wider">A / 2</th>
      <th>x<sub>2</sub></th>
      <td>1/2</td>
      <td>1</td>
      <td>1/2</td>
      <td>0</td>
      <td>6</td>
      <td></td>
    </tr>
    <tr>
      <th class="wider">B - 5A</th>
      <th>x<sub>4</sub></th>
      <td>10</td>
      <td>0</td>
      <td>-5</td>
      <td>1</td>
      <td>40</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th class="wider">C + 750A</th>
      <th>z</th>
      <td>-250</td>
      <td>0</td>
      <td>750</td>
      <td>0</td>
      <td>9000</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Damit ist das zweite Tableau komplett und der Simplex-Zyklus wiederholt sich. Wie nach
    dem Aufstellen des initialen Tableaus wird geprüft ob der negativste Parameter der
    Zielfunktions-Variablen negativ ist. Da der Wert -250 negativ ist ist die
    Abbruchbedingung noch nicht erreicht und ein weiterer Berechnungszyklus wird durchgeführt:
  </p>

  <ol>
    <li>Pivot-Spalte markieren</li>
    <li>theta-Werte berechnen</li>
    <li>Pivot-Zeile und Pivot-Element markieren</li>
    <li>Ehemalige Pivot-Zeile im nächsten Tableau berechnen</li>
    <li>Alle weiteren Zeilen im nächsten Tableau berechnen</li>
    <li>Basisvariablen im nächsten Tableau notieren</li>
  </ol>

  <p>
    Nach Schritt 3 erhält man folgendes, ergänztes zweites Tableau als
    Zwischenergebnis:
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th class="pivot-col">x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>x<sub>2</sub></th>
      <td class="pivot-col">1/2</td>
      <td>1</td>
      <td>1/2</td>
      <td>0</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <th class="pivot-row">x<sub>4</sub></th>
      <td class="pivot-row-col">10</td>
      <td class="pivot-row">0</td>
      <td class="pivot-row">-5</td>
      <td class="pivot-row">1</td>
      <td class="pivot-row">40</td>
      <td class="pivot-row">4</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td class="pivot-col">-250</td>
      <td>0</td>
      <td>750</td>
      <td>0</td>
      <td>9000</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Nach Schritt 6 erhält man folgendes drittes Tableau:
  </p>

  <table>
    <thead>
    <tr>
      <th>BV</th>
      <th>x<sub>1</sub></th>
      <th>x<sub>2</sub></th>
      <th>x<sub>3</sub></th>
      <th>x<sub>4</sub></th>
      <th>b</th>
      <th>theta</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>x<sub>2</sub></th>
      <td>0</td>
      <td>1</td>
      <td>3/4</td>
      <td>-1/20</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <th>x<sub>1</sub></th>
      <td>1</td>
      <td>0</td>
      <td>-1/2</td>
      <td>1/10</td>
      <td>4</td>
      <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th>z</th>
      <td>0</td>
      <td>0</td>
      <td>625</td>
      <td>25</td>
      <td>10000</td>
      <td></td>
    </tr>
    </tfoot>
  </table>

  <p>
    Das dritte Tableau enthält keine negativen Parameter mehr in der Zielfunktion. Damit
    greift die Abbruchbedingung des Simplex-Algorithmus und die Lösung kann aus dem letzten
    Tableau abgelesen werden.
  </p>

</app-card>
