input {
  color: black;
}

body {
  height: 100%;
  background-image: linear-gradient(to right top, #475366, #414c5d, #3a4454, #343d4b, #2e3642);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: San Francisco, sans-serif;
  color: white;
}

.wrong {
  outline: 4px solid red;
}

/* Learn Tableau */

.learn-tableau {
  margin: 40px auto;
}

.learn-tableau thead th {
  border-bottom: 1px solid white;
}

.learn-tableau tfoot > * {
  border-top: 1px solid white;
}

.learn-tableau tr > *:first-child {
  border-right: 1px solid white;
}

.learn-tableau tr > *:nth-last-child(2), .learn-tableau tr > *:last-child {
  border-left: 1px solid white;
}

.learn-tableau th, .learn-tableau td {
  width: 80px;
  padding: 8px;
}

.learn-tableau th {
  text-align: center;
}

.learn-tableau td {
  text-align: right;
}

.learn-tableau .wider {
  width: 180px;
}

/* Mark pivot col and row */

.pivot-row {
  background-color: rgba(255, 193, 0.00, 0.50);
}

.pivot-col {
  background-color: rgba(255, 193, 0.00, 0.50);
}

.pivot-row-col {
  background-color: rgba(255, 193, 0.00, 0.75);
}

/* Button colors */

.new-exercise {
  background-color: #3a8bc9;
  color: white;
}

.easy-exercise {
  background-color: #27ae60;
  color: white;
}

.medium-exercise {
  background-color: #ffb700;
  color: white;
}

.hard-exercise {
  background-color: #e74c3c;
  color: white;
}

/* Input Fields */

.number-input {
  width: 50px;
}

.fraction-input {
  width: 60px;
}

/* Colors */

.slack-var {
  color: #62bbff;
}

.solution-var {
  color: #e261e8;
}

/* Blue Arrow */

.arrow img {
  width: 50px;
  height: 50px;

  padding: 4px;
}

/* Table Lines */

.line-bottom {
  border-bottom: 1px solid white;
}

.line-top {
  border-top: 1px solid white;
}

.line-left {
  border-left: 1px solid white;
}

.line-right {
  border-right: 1px solid white;
}
