<ul>
  <li>
    <button class="btn easy-exercises"
            routerLink="/admin/exercises/easy">
      Einfach ({{ this.numberOfEasyExercises || '?' }})
    </button>
  </li>
  <li>
    <button class="btn medium-exercises"
            routerLink="/admin/exercises/medium">
      Mittel ({{ this.numberOfMediumExercises || '?' }})
    </button>
  </li>
  <li>
    <button class="btn hard-exercises"
            routerLink="/admin/exercises/hard">
      Schwer ({{ this.numberOfHardExercises || '?' }})
    </button>
  </li>
</ul>
