/* List style */

ul {
  width: 50%;
  margin: auto;
  list-style: none;
}

li {
  margin: 20px 0;
}

button {
  width: 100%;
  padding: 50px 80px;
  font-size: 25px;
}

/* Button colors */

.easy-exercises {
  background-color: #27ae60;
  color: white;
}

.medium-exercises {
  background-color: #ffb700;
  color: white;
}

.hard-exercises {
  background-color: #e74c3c;
  color: white;
}
