<ul *ngIf="initialized"
    class="m-auto">

  <li>
    <button class="btn new-exercise"
            routerLink="/admin/exercises/new">
      Create new exercise
    </button>
  </li>

  <li *ngFor="let easyExercise of easyExercises">
    <button class="btn easy-exercise"
            [routerLink]="'/admin/exercises/' + easyExercise.id">
      {{ easyExercise.title }}
    </button>
  </li>

  <li *ngFor="let mediumExercise of mediumExercises">
    <button class="btn medium-exercise"
            [routerLink]="'/admin/exercises/' + mediumExercise.id">
      {{ mediumExercise.title }}
    </button>
  </li>

  <li *ngFor="let hardExercise of hardExercises">
    <button class="btn hard-exercise"
            [routerLink]="'/admin/exercises/' + hardExercise.id">
      {{ hardExercise.title }}
    </button>
  </li>
</ul>
